.back{
    background:url(branches/3.jpg);
    background-position:center center;
    /*-webkit-background-size:cover;*/
    background-size:cover;
}

.v{
    color:white;
    font:bold;
    font-size:x-large
}
